@font-face {
  font-family: "Inter";
  src: url(../fonts/InterTight-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

.container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}

body {
  background: rgba(172, 172, 228, 0.295);
  margin-top: 200px;
  header {
    background: #fff;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 10;
    nav {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 17px 0;
      gap: 8px;
      .nav-logo img {
        width: 150px;
      }
      .nav-links {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        .nav-navbar {
          display: flex;
          cursor: pointer;
          align-items: center;
          justify-content: center;
          gap: 10px;
          background-color: #008dff;
          width: 132px;
          height: 37px;
          border: none;
          font-size: 14px;
          padding: 14px 20px;
          color: #fff;
          border-radius: 10px;
          .menu-btn1 {
            border: 0;
            background: transparent;
            display: flex;
            flex-direction: column;
            gap: 4px;
          }

          .menu-btn1 span {
            display: block;
            width: 25px;
            height: 2px;
            background-color: #fff;
          }
        }
        .input-btn {
          display: flex;
          align-items: center;
          input {
            width: 389px;
            outline: none;
            padding: 10px 10px;
            color: #008dff;
            line-height: 16px;
            border: 2px solid #008dff;
            border-radius: 10px 0px 0px 10px;
          }
          .nav-btn {
            border: none;
            line-height: 16px;
            cursor: pointer;
            width: 81px;
            color: white;
            background-color: #008dff;
            height: 40px;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            border-color: #008dff;
          }
        }
        .nav-link-img {
          text-align: center;
          gap: 5px;
          .nav-link {
            text-decoration: none;
            color: #000;
            font-size: 12px;
            font-weight: 600;
            line-height: 19px;
            transition: 0.3s;
            &:hover {
              color: #008dff !important;
            }
          }
        }
      }
    }
    .header-footer {
      padding: 17px 0;
      .nav-items {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        select {
          outline: none;
          border: 1px solid #008dff;
          border-radius: 10px;
          padding: 10px;
          font-weight: 700;
        }
        .nav-item {
          text-decoration: none;
          display: flex;
          align-items: center;
          font-size: 15px;
          font-weight: 700;
          color: #282830;
          line-height: 19px;
          transition: 0.3s;
          &:hover {
            color: #008dff;
          }
        }
      }
    }
  }
  main {
    .hero {
      .cards {
        display: flex;
        justify-content: center;
        gap: 18px;
        flex-wrap: wrap;
        .card {
          max-width: 247px;
          position: relative;
          background: white;
          border-radius: 20px;
          padding: 15px;
          height: 100%;
          transition: 0.3s;
          &:hover {
            color: #008dff !important;
          }
          .card-img {
            width: 220px !important;
          }
          .card-btn1 {
            background: red;
            border: none;
            cursor: pointer;
            text-transform: uppercase;
            color: #fff;
            padding: 2px 8px;
            border-radius: 5px;
            font-size: 12px;
            position: absolute;
            top: 16px;
            left: 16px;
            transition: 0.3s;
            &:hover {
              color: red;
              background: white;
              border: 1px solid red;
            }
          }
          .card-logo1 {
            position: absolute;
            top: 46px;
            right: 16px;
          }
          .card-logo2 {
            position: absolute;
            top: 16px;
            right: 16px;
          }
          .card-text {
            text-overflow: ellipsis;
            margin-bottom: 10px;
            line-height: 20px;
          }
          .card-images {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;
          }
          .card-price {
            font-size: 18px;
            font-weight: 700;
            color: #008dff;
            margin-bottom: 10px;
          }
          .card-price-12 {
            width: 217px;
            border: 1px solid #fe7300;
            cursor: pointer;
            display: flex;
            text-align: start;
            color: #fe7300;
            font-size: 14px;
            line-height: 20px;
            font-weight: 500;
            padding: 0.25rem;
            background: inherit;
            margin-top: 0.5rem;
            margin-bottom: 0.25rem;
            border-radius: 0.25rem;
            transition: 0.3s;
            &:hover {
              color: white;
              background: #fe7300;
              border: 1px solid #fe7300;
            }
          }
          .card-btns {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 1rem;
            gap: 10px;
            .card-btn2 {
              width: 165px;
              cursor: pointer;
              height: 37px;
              background: white;
              border: 1px solid #ff9800;
              color: #ff9800;
              border-radius: 10px;
              transition: 0.3s;
              &:hover {
                color: white;
                background: #fe7300;
                border: 1px solid #fe7300;
              }
            }
            .card-btn3 {
              border-radius: 8px;
              background-color: #00bfaf;
              padding: 5px;
              border: none;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  .loading {
    .loading-cards {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 18px;
      .loading-card {
        width: 247px;
        .div1 {
          width: 247px;
          height: 400px;
          background: rgba(128, 128, 128, 0.432);
          border-radius: 20px;
          margin-bottom: 10px;
        }
        .div2 {
          width: 230px;
          height: 20px;
          background: rgba(128, 128, 128, 0.432);
          margin-bottom: 10px;
        }
        .div3 {
          width: 100px;
          height: 20px;
          background: rgba(128, 128, 128, 0.432);
          margin-bottom: 50px;
        }
        .divs {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .div4 {
            width: 100px;
            height: 20px;
            background: rgba(128, 128, 128, 0.432);
          }
          .div5 {
            width: 50px;
            height: 50px;
            background: rgba(128, 128, 128, 0.432);
            border-radius: 50%;
          }
        }
      }
    }
  }
  .error {
    display: flex;
    align-items: center;
    justify-content: center;
    display: none !important;
  }
  .product-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    .product-card {
      display: flex;
      gap: 50px;
      .card-img {
        width: 220px !important;
      }
      .card-btn1 {
        background: red;
        border: none;
        cursor: pointer;
        text-transform: uppercase;
        color: #fff;
        padding: 2px 8px;
        border-radius: 5px;
        font-size: 12px;
        position: absolute;
        top: 16px;
        left: 16px;
        transition: 0.3s;
        &:hover {
          color: red;
          background: white;
          border: 1px solid red;
        }
      }
      .wrapper-box {
        .wrapper-text {
          max-width: 420px;
          font-size: 26px;
          font-weight: 700;
          color: #0d0d0d;
          line-height: 33px;
          margin-bottom: 8px;
        }
        .wrapper-price {
          font-size: 24px;
          line-height: 30px;
          color: #d9663b;
          margin-top: 5px;
          margin-bottom: 5px;
          font-weight: bold;
        }
        .wrapper-price2 {
          font-size: 14px;
          line-height: 20px;
          font-weight: 700;
          color: #181616;
          margin-bottom: 0.5rem !important;
        }
        .wrapper-paragraph {
          display: flex;
          gap: 30px;
          margin-bottom: 10px;
          .wrapper-par {
            max-width: 290px;
            font-size: 16px;
            line-height: 20px;
            font-weight: 600;
            color: #000;
            margin-bottom: 0;
          }
        }
        .wrapper-btns {
          display: flex;
          gap: 5px;
          margin-bottom: 15px;
          .wrapper-btn1 {
            width: 200px;
            cursor: pointer;
            display: flex;
            align-items: center;
            border: none;
            background: #00bfaf;
            padding: 18px;
            color: #fff;
            border-radius: 10px;
          }
          .wrapper-btn2 {
            width: 200px;
            cursor: pointer;
            border: 1px solid #008dff;
            background: #fff;
            color: #008dff;
            border-radius: 10px;
          }
        }
        .wrapper-title {
          font-size: 18px;
          font-weight: 600;
          color: #0f172a;
          line-height: 22px;
          margin-bottom: 15px;
        }
        .wrapper-btn3 {
          width: 100%;
          border: 1px solid #000;
          display: flex;
          align-items: center;
          padding: 15px;
          border-radius: 10px;
          background: #fff;
          span {
            color: #008dff;
            background: #00bfaf48;
            border-radius: 5px;
            padding: 5px;
            margin-left: 250px;
          }
        }
      }
      .wrapper-box2 {
        padding: 10px;
        border-radius: 20px;
        box-shadow: 0 0 7px rgba(0, 0, 0, 0.09);
        border-radius: 8px;
        .box-text {
          font-weight: 700;
          font-size: 1.5rem;
          margin-bottom: 0.5rem;
        }
        .box-btns {
          margin-bottom: 1rem;
          display: flex;
          align-items: center;
          gap: 5px;
          .box-btn1 {
            border: 1px solid silver;
            background-color: transparent !important;
            color: silver;
            margin-right: 10px;
            border-radius: 0.25rem;
            padding: 0.5rem 1rem;
          }
        }
        .wrapper-box-wrap {
          border: 1px solid #008dff;
          background-color: transparent !important;
          padding: 10px;
          border-radius: 8px;
          margin-bottom: 10px;
          .box-text2 {
            font-size: 80%;
            font-weight: 400;
            margin-bottom: 15px;
          }
          .uzum {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 15px;
            .uzum-price {
              font-weight: bold;
              color: #fe7405;
              font-size: 1rem;
            }
          }
          .uzum-btn {
            background-color: #fe7300;
            border: none;
            font-size: 14px;
            padding: 14px 20px;
            width: 100%;
            cursor: pointer;
            color: #fff;
            border-radius: 10px;
          }
        }
        .wrapper-box-wrap2 {
          box-shadow: 0 0 7px rgba(0, 0, 0, 0.09);
          border-radius: 8px;
          padding: 15px;
          .box-text2 {
            font-size: 80%;
            font-weight: 400;
            margin-bottom: 15px;
          }
          .asaxiy2 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 15px;
            .uzum-price {
              font-weight: bold;
              color: #fe7405;
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}

#navbar-responsive.open {
  left: 0;
}

.menu-btn {
  border: 0;
  background: transparent;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 4px;
  display: none;
}

.menu-btn span {
  display: block;
  width: 30px;
  height: 4px;
  background-color: #333;
}

#backtop {
  text-decoration: none;
  font-size: 24px;
  font-weight: 900;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 4px 4px 12px 2px rgba(0, 0, 0, 0.2);
  color: #333;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: fixed;
  right: 20px;
  bottom: -50px;
  cursor: pointer;
  z-index: 99;
  transition: 0.6s;
}

/* MEDIA QUERIES */
@media (max-width: 1115px) {
  nav {
    justify-content: space-between !important;
  }
  #navbar-responsive {
    position: fixed;
    top: 120px;
    bottom: 0;
    left: -100%;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    transition: 0.5s;
  }

  .nav-link {
    font-size: 18px !important;
  }

  input {
    width: 200px !important;
  }

  .menu-btn {
    display: flex;
  }
}

@media (max-width: 870px) {
  .nav-items {
    justify-content: center !important;
    gap: 20px !important;
  }
}
